<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Portfolios</h1>

<table>
    <tr>
        <th>Student</th>
        <th>Portfolio</th>
    <tr>
    {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td><a class="btn btn-primary" href={{student.portfolio.get_absolute_url}} role="button">View</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
