<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Portfolios</h1>

<table>
    <tr>
        <th>Student</th>
        <th>Portfolio</th>
    </table>
    {% for student in students %}
        <div class="container">
        {{student.name}}
        <a class="btn btn-info" href={{student.portfolio.get_absolute_url}} role="button">View</a>
        </div>
    {% endfor %}

{% endblock %}
