{% extends "portfolio_app/base_template.html" %}

{% block content %}
<h2>Title: {{portfolio}}</h2>
<p><b>Portfolio Active:</b> {{portfolio.is_active}}</p>
<p><b>About:</b> {{portfolio.about}}</p>
<p><b>Contact Email:</b> {{portfolio.contact_email}}</p>

<h2>Projects</h2>

<a class="btn btn-primary" href="new_project" role="button">New</a>

{% for project in projects %}
    <p>{{project}}
    <a class="btn btn-info" href={{project.get_absolute_url}} role="button">View</a>
    <a class="btn btn-warning" href="edit_project/{{project.id}}" role="button">Edit</a>
    <a class="btn btn-danger" href="del_project/{{project.id}}" role="button">Delete</a>
    </p>
{% endfor %}

{% endblock %}